<% layout("/layouts/bollerplate.ejs") %>

<body>
    <h3>Create new Listings</h3>
    <form method="post" action="/listings">
        <input type="text" name="Listing[title]" placeholder="Enter title"><br><br>
        <textarea type="text" name="Listing[description]" placeholder="Enter description"></textarea><br><br>
        <input type="text" name="Listing[image]" placeholder="Enter image"><br><br>
        <input type="number" name="Listing[price]" placeholder="Enter price"><br><br>
        <input type="text" name="Listing[location]" placeholder="Enter location"><br><br>
        <input type="text" name="Listing[country]" placeholder="Enter country"><br><br>
        <button type="submit">Add</button>
        <button type="reset">Clear </button>
    </form>
</body>
