body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}


.f-info-links a:hover{
    text-decoration: underline;
    color: #222222;
}

.f-info-link,.f-info-socaials,.f-info-brand{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socaials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    display: flex;
    background-color: #b9b5b5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    height: 8rem;
}

.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 0.7rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 ;
}

.listing-link{
    text-decoration: none !important;
}



/* card Efect */

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.form-label{
    font-weight: 600 !important;
    font-size: 17px !important;
}
.form-control{
    border: 1px solid rgb(108, 99, 99) !important;
}

.btn{
    background-color: #fe424d !important;
    border: none !important;
}

.btn-grn{
    background-color: green !important;
}

.btn-red{
    background-color: rgb(162, 50, 50) !important;
    color: white !important;
}
